

$gray : #ececec;
$gray-v1 :#777;
$gray-v2 :#f6f6f6;
$gray-v3 :#ededed;
$white:white;


.how {
    background-color: $gray;
    padding: 6.25rem 0;
    overflow: hidden;
}

.how {

    .main-title {
        h2 {
            @media (max-width: 472px) {
                font-size: 1.45rem !important;
                text-align: center;
            }
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        > img {
            margin-right: 6.25rem;
            max-width: 100%;

            @media (max-width: 992px) {
                margin-right: 0;
                margin-bottom: 4.375rem;
            }
        }
    }
}

.how {
    .container {
        .info {

            .info-box {
                padding: 1.875rem;
                display: flex;
                background-color: $gray-v2;
                margin-bottom: 1.25rem;
                border-radius: 6px;
                border: 2px solid $white;
                align-items: center;
                position: relative;

                @media (max-width: 649px) {
                    flex-direction: column;
                    text-align: center;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 0%;
                    height: 0%;
                    z-index: 0;
                    transform: translate(-50% , -50%);
                    background-color: $gray-v3 ;
                    transition: 0.2s;
                }

                &:hover::before {
                    width: 100%;
                    height: 100%;
                }

                img {
                    z-index: 1;
                    width: 64px;
                    height: 64px;
                    margin-right: 1.875rem;

                    @media (max-width: 649px) {
                        margin-right: 0;
                        margin-bottom: 1.2rem;
                        width: 58px;
                        height: 58px;
                    }
                }

                .text {
                    z-index: 1;
                    h3 {
                        font-size: 1.375rem;
                    }

                    p {
                        font-size: 1.125rem;
                        margin: 0.625rem 0 0;
                        color: $gray-v1;
                        line-height: 1.7;

                        @media (max-width: 649px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
