
$gray : #e2e2e2;
$gray-v1 : #777;
$gray-v2 : #f4f4f4;
$gray-v3 : #ececec;
$white :white;
$black : #000;
$blue : #2196f3;



.videos {
    padding: 6.25rem 0;

    .container {
        display: flex;

        @media (max-width:992px) {
            flex-direction: column;
        }
    }
}

.videos {
    .container {
        .topic {
            border: 1px solid;
            border-color:  transparent $gray;

            .head-topic {
                display: flex;
                justify-content: space-between;
                padding: 1.25rem;
                border: 1px solid;
                border-color: $gray transparent $gray;
                background-color: $gray-v2;

                p {
                    font-weight: bold;
                }
            }

            .topic-part {
                padding: 1.25rem;
                border: 1px solid;
                border-color: transparent transparent $gray;
                transition: 0.4s;
                cursor: pointer;

                p {
                    transition: 0.3s;
                }

                span {
                    display: block;
                    color: $gray-v1;
                    margin-top: 10px;
                }

                &:hover {
                    background-color: $gray-v3;
                }

                &:hover p {
                    color: $blue;
                }
            }
        }
    }
}


.videos {
    .container {
        .video-frame {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $gray-v2;
            border: 1px solid;
            border-color:  $gray transparent;

            @media (max-width:992px) {
                border-color:  transparent $gray ;
            }

            img {
                max-width: 100%;
                width: 100%;
            }

            p {
                padding: 1.25rem;
                margin-top: 10px;
                background-color: $white;
            }
        }
    }
}